8.error_handling/src/main/mule/8.error_handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="default_error_handling" doc:id="09a11b42-2c70-4606-ab57-e7906ded7f94" >
		<http:listener doc:name="Listener" doc:id="ae2751c5-47d6-40b4-b603-a46294bf863f" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/default-error-handling"/>
		<http:request method="GET" doc:name="Request nonexistant URL" doc:id="a0bd16cf-fbf3-4003-a966-ffbd72adf2b5" config-ref="HTTP_Request_configuration" path="/test"/>
	</flow>
	<flow name="on_error_continue_basic" doc:id="c1a1015c-a3f4-4e2a-a30a-1b9d3c8d2c7b" >
		<http:listener doc:name="Listener" doc:id="fe6990d9-1dfa-4fec-9a2b-3c1bf7b1b262" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/on-error-continue-basic"/>
		<http:request method="GET" doc:name="Request" doc:id="13f31d22-fc82-41d7-8756-315526e0e144" config-ref="HTTP_Request_configuration" path="/test"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="bdca9296-5993-4502-ac9e-578d12edec84" message='#["LOG AFTER REQUEST - ON ERROR CONTINUE"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9e2db6af-24ed-4adc-b826-b1d132c89eb3" type="ANY">
				<logger level="INFO" doc:name="Log on continue basics" doc:id="853648e5-7a37-49d5-b6b8-17856bb2073b" message='#["mule flow - on error continue log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "on error continue log",&#10;	"error": {&#10;		"description": error.description&#10;	}&#10;}]' doc:name="Set Payload" doc:id="4b633566-7c32-4215-a988-5f9618d8d0b7" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on_error_propagate_basic" doc:id="cbf5f576-4b57-4bab-984a-dc51a81bb8e7" >
		<http:listener doc:name="Listener" doc:id="a6243f04-ee0c-4054-86e9-83352d085a84" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/on-error-propagate-basic"/>
		<http:request method="GET" doc:name="Request" doc:id="81f5f2e0-40aa-487f-bc59-7e0f3193043b" config-ref="HTTP_Request_configuration" path="/test"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="40357277-0a02-4763-b393-02142064ee6e" message='#["LOG AFTER REQUEST - ON ERROR PROPAGATE"]'/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0d3dca2a-bba1-4921-9988-9b68fc1fcef8" type="ANY">
				<logger level="INFO" doc:name="Log on propagate basics" doc:id="7ed5d793-71b8-492d-b129-3581dce0fb05" message='#["mule flow - on error propagate log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "on error propagate log",&#10;	"error": {&#10;		"description": error.description&#10;	}&#10;}]' doc:name="Set Payload" doc:id="a80fb618-c631-401c-a957-ce3b9a4d5e65" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="global_error_handler" doc:id="25a73acc-894f-40a4-9c8f-d45bfa419446" >
		<http:listener doc:name="HTTP GET" doc:id="98fa7d31-b18d-432b-943a-7af705be8f6b" config-ref="HTTP_Listener_config" path="/global-error-handler" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request nonexistant URL" doc:id="6031b665-30d1-41c5-b920-1ec2231a219e" config-ref="HTTP_Request_configuration" path="/test" />
	</flow>
		<flow name="on_error_continue_basic_flow_reference" doc:id="115d7123-44fc-42f4-a954-3739b7f12937" >
		<http:listener doc:name="Listener" doc:id="0095e244-0492-42e2-9c6b-c8da0654a964" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/on-error-continue-basic-fr"/>
		<flow-ref doc:name="Call Flow Reference" doc:id="9f7bf87d-f18c-48c9-a5db-c4d665fc8a9f" name="flow_reference"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="d098386c-242a-4510-afc4-ce13ef7ed440" message='#["LOG AFTER REQUEST - ON ERROR CONTINUE"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c423ab54-5230-404a-955a-390e1bdbd82b" type="ANY">
				<logger level="INFO" doc:name="Log on continue basics" doc:id="64a5d08c-45c0-44e2-96dd-7b9c1693b0f1" message='#["mule flow - on error continue log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "on error continue log",&#10;	"error": {&#10;		"description": error.description&#10;	}&#10;}]' doc:name="Set Payload" doc:id="2f539ac6-8f8b-48f5-a7d4-2d6c7eb361fa" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on_error_propagate_basic_flow_reference" doc:id="a3f069a2-64ff-4c44-b116-2f0ca600abdb" >
		<http:listener doc:name="Listener" doc:id="9fcf9528-0201-4011-8d39-808408f2e813" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/on-error-propagate-basic-fr"/>
		<flow-ref doc:name="Call Flow Reference" doc:id="12fc4a9d-4fe7-4c50-906a-cfa728e2f892" name="flow_reference"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="063f81ae-36ec-4a94-8050-cbc8a8b23740" message='#["LOG AFTER REQUEST - ON ERROR PROPAGATE"]'/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dce69e22-9479-495a-85a9-808e58991a86" type="ANY">
				<logger level="INFO" doc:name="Log on propagate basics" doc:id="145ac53d-c135-4088-bb91-4270f94b96bf" message='#["mule flow - on error propagate log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "on error propagate log",&#10;	"error": {&#10;		"description": error.description&#10;	}&#10;}]' doc:name="Set Payload" doc:id="69d80a41-add2-40b0-87e2-0709b06ebf7c" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="flow_reference" doc:id="eb8b8d2f-173f-4d3b-8bda-dffb608261ce" >
		<logger level="INFO" doc:name="Log BEFORE REQUEST" doc:id="f5c39119-8d31-4283-888d-1bb3dcb82ec5" message='#["Log BEFORE REQUEST - flow reference"]'/>
		<http:request method="GET" doc:name="Request nonexistant URL" doc:id="d7b52f31-db59-478d-8c2e-a9c2ffe1d72c" config-ref="HTTP_Request_configuration" path="/test" />
		<logger level="INFO" doc:name="Log AFTER REQUEST" doc:id="5fca92b6-98dd-410c-b6e7-07977ab38cb2" message='#["LOG AFTER REQUEST - flow reference"]'/>
	</flow>
	<flow name="raise_an_error_based_on_customer_id" doc:id="0cddd995-532b-4f25-adf4-69f352ce1832" >
		<http:listener doc:name="HTTP GET" doc:id="311132ac-8134-4c80-871f-3d364e1aa03c" config-ref="HTTP_Listener_config" path="/raise-error/{customerID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log CustomerID" doc:id="7672d379-2ef3-4108-aa04-1107d1e15597" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"customerID" : attributes.uriParams.customerID&#10;}]'/>
		<choice doc:name="Choice" doc:id="55e79c23-7e40-4460-ba09-63356759631d" >
			<when expression="#[attributes.uriParams.customerID as Number == 2]">
				<logger level="INFO" doc:name="Log VALIDATED" doc:id="4e2d1952-4767-4f6e-896b-54bc230bd6b0" message='#["Customer ID IS VALIDATED !"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "Customer ID " ++ attributes.uriParams.customerID as String ++ " is VALIDATED"&#10;}]' doc:name="Set Payload" doc:id="5e781578-3c97-4900-a3ce-2a01b221e83d" />
			</when>
			<when expression="#[attributes.uriParams.customerID as Number == 1]">
				<logger level="INFO" doc:name="Log Reservered" doc:id="a5ca29bd-10ec-441a-9cdb-9ffbe53560cc" message='#["Customer ID IS RESERVED !!!"]'/>
				<raise-error doc:name="Raise error" doc:id="d29d8a21-b18d-43ab-bf88-80dece230be9" type="CUSTOMER:RESERVED_ID" description='"Customer ID 1 is reserved.  Cant complete flow!!!"'/>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="0973974e-0350-43c6-bf85-6b83d0dad3d6" type="CUSTOMER:INVALID_DATA" description='"Customer ID is necessary.  Cannot complete flow!!!"'/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="35065987-778f-4437-867f-0c7a705c3fbc" type="CUSTOMER:INVALID_DATA">
				<logger level="INFO" doc:name="Logger" doc:id="08ba907e-4baf-49fa-932a-5878fc19f8a6" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "On error continue - CUSTOMER:INVALID_DATA - the customer ID IS NOT OK!!"&#10;}]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "On error continue - CUSTOMER:INVALID_DATA - the customer ID IS NOT OK!!"&#10;}]' doc:name="Set Payload" doc:id="816c49de-ef64-42eb-8842-00ca6f2bc310" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="28396844-3e6e-4ba1-b395-625550041246" type="ANY" >
				<logger level="INFO" doc:name="Logger" doc:id="e663e372-825a-4daa-95e0-4871a2ccbd56" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "On error continue - ANY - the customer ID IS missing or invalid!!"&#10;}]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "On error continue - ANY - the customer ID IS missing or invalid!!"&#10;}]' doc:name="Set Payload" doc:id="56b9e6c7-8df6-4daa-b23e-80250cf6c564" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
